# Ignorar carpetas de entorno y datos sensibles
.env
venv/
__pycache__/

# Ignorar dependencias Python
*.pyc
__pycache__/
*.sqlite3

# Ignorar archivos subidos
uploads/

# Node modules, caches, logs, etc.
node_modules/
*.log

# Entorno de VSCode
.vscode/

# Servidor local
*.db

# Ignorar compilaciones / caches front-end
*.cache
dist/
