<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%home%\site\wwwroot\venv\Scripts\python.exe"
                  arguments="%home%\site\wwwroot\startup.py"
                  stdoutLogEnabled="true"
                  stdoutLogFile="%home%\LogFiles\stdout"
                  startupTimeLimit="60">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="HOST" value="0.0.0.0" />
        <environmentVariable name="LOG_LEVEL" value="INFO" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
